mixin video(data)
  section.video
    .video__container.container
      .video__w
        .video__object
          button.video__button
            != pugHelpers.Icon.call(locals, {iconName: 'video-button', className: 'video__icon'})
          |<iframe class="video__iframe" src="" width="560" height="315" data-src="https://www.youtube.com/embed/H83R1Jv4kFA?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>