.advantages
  &__container
    padding-top: 120px
    padding-bottom: 120px
  &__title
    margin-bottom: 116px
    text-align: center

  &__list
    flex-wrap: wrap

  &__item
    max-width: 25%
    flex-shrink: 1
    width: 100%
    text-align: center

    &:nth-child(5),
    &:nth-child(6)

      margin-top: 96px
      max-width: 49%
      width: 100%
      display: flex
      align-items: center

      .advantages__image
        margin-bottom: 0
        flex-shrink: 0
      .advantages__text
        margin-left: 30px
        text-align: left

    &:last-child
      margin-left: auto

  &__image
    margin-bottom: 17px

  &__text
    color: #855935
    font-size: 16px
    font-weight: 600
    letter-spacing: 0.8px

