mixin books(data)
  section.books
    .books__container.container
      h2.books__title.title Отпечатанные нами книги

      .books__slider
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-1.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки

        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-2.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-3.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-4.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-5.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-6.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-7.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки
        .books__item-w
          a.books__item(href="assets/images/content/book-2.jpg")
            .books__image
              img(src="assets/images/content/book-8.jpg", alt="")
            .books__content
              .books__zoom
              .books__bottom
                .books__text Вид переплета
                .books__text Вид и покрытие обложки