.slider
  &__item-w
    padding-top: 30px
    padding-right: 30px
    padding-left: 30px

  &__item
    margin: auto
    max-width: 290px
    width: 100%
    display: block
    text-decoration: none

  &__image
    margin-bottom: 12px
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    background-color: #e4e4e4

  &__item-title
    margin-bottom: 12px
    color: #855935
    font-size: 18px
    font-weight: 600
    letter-spacing: 0.9px
  &__item-text
    border-top: 2px solid #ffff99
    padding-top: 7px
    color: rgba(51, 51, 51, 0.5)
    font-size: 14px
    font-weight: 500
    letter-spacing: 0.7px


