.map
  position: relative
  height: 635px
  &__area
    height: 100%
  &__contacts-w
    position: relative
    z-index: 1
    height: 100%
  &__contacts
    position: absolute
    top: 140px
    left: 0
    padding-top: 30px
    padding-right: 60px
    padding-bottom: 70px
    padding-left: 50px
    max-width: 445px
    width: 100%
    background-color: #ffffff
    border-radius: 10px
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1)

  &__contact
    margin-top: 60px
    &:first-child
      margin-bottom: 0


  &__icon
    flex-shrink: 0

  &__text
    margin-left: 20px
    color: #38200c
    font-size: 16px
    font-weight: 400
    letter-spacing: 0.48px
    text-decoration: none




