mixin steps(data)
  section.steps
    .steps__container.container
      h2.steps__title.title Этапы работы
      ul.steps__list.flex
        li.steps__item
          .steps__num
            span 1
          .steps__item-title Связываемся с Вами для уточнения деталей

        li.steps__item
          .steps__num
            span 2
          .steps__item-title Производим подсчёт стоимости и определяем сроки

        li.steps__item
          .steps__num
            span 3
          .steps__item-title Согласуем коммерческое предложение

        li.steps__item
          .steps__num
            span 4
          .steps__item-title Вы предоставляете необходимые для производства данные

        li.steps__item
          .steps__num
            span 5
          .steps__item-title Печать тиража

