mixin variations(data)
  .variations
    .variations__container.container

      section.variations__row
        h2.variations__title.title Виды переплетов
        .variations__slider-w
          .variations__slider.slider.flex
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-1.png", alt="")
                figcaption.slider__item-title Переплет 7Б
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-2.png", alt="")
                figcaption.slider__item-title Переплет 7БЦ
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-3.png", alt="")
                figcaption.slider__item-title Интегральный переплет
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-4.png", alt="")
                figcaption.slider__item-title Переплет 7Б
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-5.png", alt="")
                figcaption.slider__item-title Переплет 7Б
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-6.png", alt="")
                figcaption.slider__item-title Переплет 7Б
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-7.png", alt="")
                figcaption.slider__item-title Переплет 7Б
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.
            .slider__item-w
              a.slider__item(href="#")
                figure.slider__image
                  img(src="assets/images/content/bookbinding-8.png", alt="")
                figcaption.slider__item-title Переплет 7Б
                .slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dignissim vel fringilla integer non vitae enim.

          .variations__slider-nav
            button.variations__slider-prev
              |<svg class="variations__slider-arrow" width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 3L3 14L14 25" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>

            button.variations__slider-next
              |<svg class="variations__slider-arrow" width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 3L3 14L14 25" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>

      .variations__row.flex.flex_start
        section.variations__col.variations__col_wide
          h2.variations__col-title.title Материал обложки

          ul.variations__list.flex.flex_start
            li.variations__item
              figure.variations__image
                img(src="assets/images/content/material-1.png", alt="")
              figcaption.variations__item-title Картон
            li.variations__item
              figure.variations__image
                img(src="assets/images/content/material-2.png", alt="")
              figcaption.variations__item-title Бумвинил
            li.variations__item
              figure.variations__image
                img(src="assets/images/content/material-3.png", alt="")
              figcaption.variations__item-title Иск. кожа

        section.variations__col
          h2.variations__col-title.title Покрытие обложки

          ul.variations__list.flex.flex_start
            li.variations__item
              figure.variations__image
                img(src="assets/images/content/material-4.png", alt="")
              figcaption.variations__item-title УФ-Лак
            li.variations__item
              figure.variations__image
                img(src="assets/images/content/material-5.png", alt="")
              figcaption.variations__item-title Тиснение



