mixin clients(data)
  section.clients
    .clients__container.container
      h2.clients__title Нам доверяют
      .clients__slider
        .clients__item
          .clients__image
            img(src="assets/images/content/client-1.png", alt="")
        .clients__item
          .clients__image
            img(src="assets/images/content/client-2.png", alt="")
        .clients__item
          .clients__image
            img(src="assets/images/content/client-3.png", alt="")
        .clients__item
          .clients__image
            img(src="assets/images/content/client-4.png", alt="")
        .clients__item
          .clients__image
            img(src="assets/images/content/client-5.png", alt="")
        .clients__item
          .clients__image
            img(src="assets/images/content/client-6.png", alt="")